In [1]:
import pandas as pd

In [2]:
file=r'C:\Users\ROXI\OneDrive\Escritorio\dataset procesados\Datasets relevamiento precios\producto.parquet'

In [3]:
df_producto_parquet=pd.read_parquet(file)

In [17]:
df_producto_parquet

,id,marca,nombre,presentacion,categoria1,categoria2,categoria3
0,0000000001663,la anónima,radicheta atada la anonima 1 un,1.0 un,None,None,None
1,0000000002288,la anónima,perejil atado la anonima 1 un,1.0 un,None,None,None
2,0000000205870,sin marca,ojo de bife 1 kg,1.0 kg,None,None,None
3,0000000205894,sin marca,milanesa de peceto novillito 1 kg,1.0 kg,None,None,None
4,0000000205955,sin marca,chiquizuela novillito 1 kg,1.0 kg,None,None,None
...,...,...,...,...,...,...,...
72033,9569753142128,deli-sitas,milhojas cobertura de chocolate blanco deli-si...,500.0 gr,None,None,None
72034,9795403001143,mayo,mini pizzetas mayo 12 un,12.0 un,None,None,None
72035,9990385651922,dana,te negro en hebras lata dana 50 gr,50.0 gr,None,None,None
72036,9990385651939,dana,te verde en hebras lata dana 50 gr,50.0 gr,None,None,None
72037,9990385651946,dana,yerba mate aromatizada lata dana 150 gr,150.0 gr,None,None,None

In [14]:
columns=df_producto_parquet.columns
for c in columns:
    if df_producto_parquet[c].dtype == 'object':
        #convert to lower case
        df_producto_parquet[c] = df_producto_parquet[c].str.lower()
        # remove trailing white spaces
        df_producto_parquet[c] = df_producto_parquet[c].str.strip()

In [16]:
df_producto_parquet.describe()

,id,marca,nombre,presentacion,categoria1,categoria2,categoria3
count,72038,72036,72036,72036,4,4,4
unique,72038,5565,63833,1168,3,3,4
top,0000000001663,sin marca,mondongo 1 kg,1.0 kg,almacén,aceites,acondicionadores
freq,1,8659,29,12894,2,2,1

In [11]:
df_producto_parquet.id.min()

'0000000001663'

In [12]:
df_producto_parquet.id.max()

'9990385651946'

In [6]:
df_producto_parquet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72038 entries, 0 to 72037
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            72038 non-null  object
 1   marca         72036 non-null  object
 2   nombre        72036 non-null  object
 3   presentacion  72036 non-null  object
 4   categoria1    4 non-null      object
 5   categoria2    4 non-null      object
 6   categoria3    4 non-null      object
dtypes: object(7)
memory usage: 3.8+ MB

In [5]:
df_producto_parquet.isnull().sum()

id                  0
marca               2
nombre              2
presentacion        2
categoria1      72034
categoria2      72034
categoria3      72034
dtype: int64

In [18]:

df_p= df_producto_parquet[df_producto_parquet['categoria1'].notna()]

In [20]:
df_producto_parquet.to_csv('producto_parquet_csv.csv', encoding='utf-8', index=False)