In [14]:
import pandas as pd
import json

In [15]:
ruta_archivo_json = r"C:\Users\ROXI\OneDrive\Escritorio\dataset procesados\Datasets relevamiento precios\precios_semana_20200503.json"
datos_semana_20200503= pd.read_json(ruta_archivo_json,encoding="utf-8")

In [16]:
datos_semana_20200503.head(1)

  precio    producto_id sucursal_id
0   29.9  0000000002288     2-1-187

In [19]:
new_df=pd.DataFrame(columns=["sucursal_id","producto_id","precio"])
new_df["precio"]=datos_semana_20200503["precio"]
new_df["sucursal_id"]=datos_semana_20200503["sucursal_id"]
new_df["producto_id"]=datos_semana_20200503["producto_id"]

In [20]:
new_df

       sucursal_id    producto_id  precio
0          2-1-187  0000000002288    29.9
1          2-3-247  0000000002288    39.9
2          9-1-685  0000000205870  499.99
3           9-2-22  0000000205870  539.99
4           9-2-59  0000000205870  519.99
...            ...            ...     ...
397729      25-1-1  9569753142128  139.99
397730      25-1-1  9795403001143   34.99
397731       5-1-5  9990385651922   312.5
397732       5-1-5  9990385651939   312.5
397733       5-1-5  9990385651946   198.9

[397734 rows x 3 columns]

In [40]:
datos_semana_20200503.shape

(397734, 3)

In [44]:
array_sucursal_id=datos_semana_20200503.sucursal_id.unique()

hay 170 sucursales

In [45]:
len(array_sucursal_id)

170

In [46]:
array_producto_id=datos_semana_20200503.producto_id.unique()

hay 61505 productos

In [47]:
len(array_producto_id)

61505

In [102]:
new_df.isnull().sum()

precio         0
sucursal_id    0
producto_id    0
col_added      0
dtype: int64

no hay nulos

In [22]:
new_df.to_csv('precios_semana_20200503_csv.csv', encoding='utf-8', index=False)